<%= form_for(@job, :html => { :multipart => true }) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description,  size: "8x8" %>
  </div>
  <div class="field">
    <%= f.label :document %><br>
    <%= f.file_field :document,  size: "8x8" %>
  </div>
  <div class="field">
    <%= f.label :industry_id %><br>
    <%= f.select("industry_id", Industry.all.collect {|p| [ p.title, p.id ] }, {include_blank: 'None'},class: "form-control")  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>