<div class="banner_cov">
 <img src="/assets/banner_inn-b9997dedd207eec3f98e95cec00836024d36433e78983617554b1759bba3b5c1.jpg" alt="Banner inn"></div>
<div class="container">
 <div class="row">
  <div class="col-md-10 sign_pop col-md-offset-1"><table class="table table-bordered">
<% if current_user.candidate? %>
<table class="table table-bordered">
  <thead>
    <th class="td_align">Vacancies Applied For</th>
    <th class="td_align">Reviewed by Client</th>
    <th class="td_align">Submitted to Client</th>
    <th class="td_align">Interview Schedules</th>
    <th class="td_align">Interview Status</th>
  </thead>
  <tbody>
  	<% @applied_jobs.each do |job| %>
    <tr>
      <td><%= link_to job.title, job_path(job) %></td>
      <td><%=reviewed_by(@reviews,job)%></td>
      <td><%=cv_download(@reviews,job)%></td>
      <td><%=interviewed_by(job)%></td>
      <td><%=interview_status(job)%></td>
    <tr>
    <%end%>
  </tbody>
</table>
<% end %>
<% if current_user.client? %>

<table class="table table-bordered">
  <thead>
    <th style="width:12%;" class="td_align">Vacancies Open</th>
    <th style="width:10%;" class="td_align">No. of Candidates</th>
    <th style="width:8%;" class="td_align">CV Download</th>
    <th style="width:25%;" class="td_align">CV Review Notes</th>
    <th style="width:19%;" class="td_align">Create Interview Stage</th>
    <th  style="width:11%;" class="td_align">Interview Schedule</th>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <% users = UserJob.all.collect{|k| k.job_ids.include?(job.id) ? User.find(k.user_id) : []}.flatten %>
      <td ><%= link_to job.title, job_path(job) %><br/>
        <%= link_to job.document_file_name, download_job_path(job),  target: "_blank" if job.document.present? %>
      </td>
      <td ><%= link_to users.count, job_path(job) %></td>
      <td style="padding:0;"><%= users.count == 0 ? "No One Applied yet" : reviewed_client_section(job)%></td>
      <td style="padding:0;"><%= meeting_with(job)%></td>
      <td style="padding:0;"><%= users.count == 0 ? "No One Applied yet" : cv_download_client_section(job)%></td>
      <% Review.where(job_id: job.id) %>
      <td style="padding:0;"><%=users.count == 0 ? "No One Applied yet" : interview_stage_client_section(job)%></td>
    <tr>
    <%end%>
  </tbody>
</table>
<% end %>
</div></div></div>


<div id="myModalMeeting" class="modal">
<div class="modal-content">
<span class="close">&times;</span>
  <%= render partial: "interview_schedules/meeting" %>
</div>
</div>


<script type="text/javascript">
var modal = document.getElementById('myModalMeeting');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});

function meeting_with(id,result)
{

  $("#myModalMeeting").show()
  $("#review_id").val(id)
  $("#meeting").val(result)
}

$(document).ready(function(){
  $('.close').click(function(){
    $('.modal .avail_date').closest('.form-group').remove()
   $('.modal').hide()
  })
})
   
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
      $('.modal').hide()
    }
}
</script>
<style type="text/css">
  .td_align{
    text-align: center;
  }
  .table.table-bordered td a{
    display: block;
  }
  #myBtn {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    border-bottom:1px solid #444; 
    cursor: pointer;
    color: black;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 500px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>
