<!-- <div class="banner">
 
  <div class="content">
    <h1>Change the <br>way you Recruit</h1>
    <p>More recruitment tools, features, better execution with simple clicks</p>
    <p>You need to get a head start in the Recruitment markets today</p>  
    <a href="<%= how_it_work_path %>" class="btn btn-info btn-lg">Learn more <i class="fa fa-angle-right"></i></a>
  </div>
</div>
<div>
 -->

 <div class="wrapper">
	
	<div class="container">
		
		<div class="start">
			
			<h2>Your Cube - Power to you</h2>
		<h3>Engage with top talent in a completely different way than efore</h3>
		
		<p class="hdng">Manage risks, communicate better, be aware of extrnal competition, showcase the culture of your firm.</p>
		
		</div>
		
		
		<div class="blocks">
			
			<div class="this">
				
				<img src="<%= asset_path('img/1_1.jpg')%>" >
				<p><b>Free Edition</b>- is an enterepreneurand CEO of award winning business.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/1_2.jpg') %>" >
				<p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/1_3.jpg') %>" >
				<p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/1_4.jpg') %>" >
				<p><b>Document Management</b> interviews can download and uplaod formatted word or pdf job descriptions via the platform</p>
			
			</div>
			
		</div>
		
		
		
	</div>

</div>