<!-- <div class="banner">
 
  <div class="content">
    <h1>Change the <br>way you Recruit</h1>
    <p>More recruitment tools, features, better execution with simple clicks</p>
    <p>You need to get a head start in the Recruitment markets today</p>  
    <a href="<%= how_it_work_path %>" class="btn btn-info btn-lg">Learn more <i class="fa fa-angle-right"></i></a>
  </div>
</div>
<div>
 -->

 <div class="wrapper">
	
	<div class="container">
		
		<div class="start">
			
			<h2>Your Cube - Power to you</h2>
		<h3>Engage with top talent in a completely different way than before</h3>
		
		<p class="hdng">Manage risks, communicate better, be aware of extrnal competition, showcase the culture of your firm.</p>
		
		</div>
		
		
		<div class="blocks">
			
			<div class="this">
				
				<img src="<%= asset_path('img/1_1.jpg')%>" >
				<p><b></b>  Manage the recruitment process across all sites anywhere in the world. Unrestricted by different time zones to get things done.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/1_2.jpg') %>" >
				<p><b></b>   Have an automated email notification system when applicants arrive, new interviews are added or new feedback is received.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/1_3.jpg') %>" >
				<p><b></b>  Have all the workflow data, including dates, diaries and feedback stored in the cloud. As well as a central depository for CVs and Job descriptions.</p>
			
			</div>
			
			<div class="this">
				
				<img src="<%=asset_path('img/1_4.jpg') %>" >
				<p><b></b> Create better data analytics for Executive Management. See where processes can be improved from salaries to talent management.</p>
			
			</div>
			
		</div>
		
		
		
	</div>

</div>
