 <div class="banner_cov">
 <%= image_tag("banner_inn.jpg") %></div>  
 <div class="container">
 <div class="row">
  <p id="error-msg" class="alert alert-danger"></p>
  <div class="col-md-6 sign_pop col-md-offset-3">
<% if !@search.blank? %> 
 <% @search.each do |search| %>
    <div class="job_bx">
    <div class="left_dis">
     <h1><label>Job Title :</label> <%= search.title%><br/></h1>
    <p><label>Job Description :</label> 
    <div id="less_<%= search.id%>"> 
      <%= search.description.truncate(300)%>
    </div>
    <div id="more_<%= search.id%>" style="display:none;">
      <%= search.description %>
    </div>
    <label>Job Document :</label> <%= link_to search.document_file_name, download_job_path(search),  target: "_blank" if search.document.present? %> <br/>
    </p>
    <a href="javascript:void(0)" id="view_details" data-id="<%= search.id%>"class="view_details">View Details</a> 

    </div>
    <div class="apply_dis">
    <%= job_apply_link(search) if user_signed_in? %>
    </div>

    <div class="clearfix"></div>
    </div>
  <% end %>
<% else %>
<h5 style="color:#4286F5;font-weight:bold;">No Job listed in this Category Yet.</h5>
<% end %>
  <%= will_paginate @search , renderer: BootstrapPagination::Rails%>
</div>
</div>
</div>

<script>
$(document).ready(function(){
  $(".view_details").click(function(){
    if($(this).text() =="View Details")
    {
    var dataid = $(this).attr("data-id")
    $("#less_"+dataid).hide()
    $("#more_"+dataid).show()
    $(this).text("Less Details")
    }else{
    	var dataid = $(this).attr("data-id")
    $("#less_"+dataid).show()
    $("#more_"+dataid).hide()
    $(this).text("View Details")
    }
    
  })
})

</script>
<style type="text/css">
  #view_details{
    color: #428bca !important;
  }
  .left_dis > a {
    color: #4286f5;
  }
</style>
