<div class="banner_cov">
 <%= image_tag("banner_inn.jpg") %></div>  
 <div class="container">
 <div class="row">
  <div class="col-md-10 sign_pop col-md-offset-1">
  <p id="notice"><%= notice %></p>

<h1> List of Candidate Resumes</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= resume.title %></td>
        <td><%= resume.description %></td>
        <%= resume_links resume %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resume', new_resume_path unless current_user.client? %>
</div></div></div>
