<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo_txt" href="/">MYPHD</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.candidate? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My CV <span class="caret"></span></a>
              <ul class="dropdown-menu">
		            <li><%= link_to "Candidate Resumes", resumes_path %></li>
                <li><%= link_to "Upload CV", new_resume_path %></li>
                <li role="separator" class="divider"></li>
              
              </ul>
            </li>
            
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Jobs<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Create Job", new_job_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "All Jobs", jobs_path %></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Delete Jobs</a></li>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
      <% if user_signed_in? %>
      <%if current_user.candidate? %>
	      <%= form_tag welcome_search_path, :method=> :post,:class=>"navbar-form navbar-left" do%>
		<div class="form-group">
		<%#= text_field_tag "search" ,nil,:class=>"form-control", :placeholder=>"Search Jobs"%>
		<%= select_tag "category", options_from_collection_for_select(Industry.all, "id", "title"),class: 'form-control',:prompt => 'Select Job Category'%> 
		<%= submit_tag "Search", :class=>"btn btn-default"%>
		</div>
	      <% end %>
      <% end %>
        <%if current_user.client? %>
          <%= form_tag search_candidate_path, :method=> :post,:class=>"navbar-form navbar-left" do%>
            <!-- <div class="form-group"> -->
            <%= text_field_tag "search_candidate" ,nil,:class=>"form-control", :placeholder=>"Search Candidates"%>
           
           <%= text_field_tag "location_search" ,nil,:class=>"form-control", :placeholder=>" Search Location  "%>

           <%#= text_field_tag "salary_aearch" ,nil,:class=>"form-control", :placeholder=>" Search Salary"%>
            <select class="form-control" name="salary_aearch" >
              <option value="30000"> Less than 30000</option>
              <option value="60000"> Less than 60000</option>
              <option value="600001"> Higher than 60000</option>
            </select> 

            <%= submit_tag "Search", :class=>"btn btn-default"%>
            <!-- </div> -->
          <% end %>
        <%end%>
	<% else %>
		<%= form_tag welcome_search_path, :method=> :post,:class=>"navbar-form navbar-left" do%>
		<div class="form-group">
		<%#= text_field_tag "search" ,nil,:class=>"form-control", :placeholder=>"Search Jobs"%>
		<%= select_tag "category", options_from_collection_for_select(Industry.all, "id", "title"),class: 'form-control',:prompt => 'Select Job Category'%> 
		<%= submit_tag "Search", :class=>"btn btn-default"%>
		</div>
	      <% end %>
      <%end%>
    
      <ul class="nav navbar-nav navbar-right add_focus">
        <% if !user_signed_in? %>
          <li><%= link_to "SignUp For client", new_user_registration_path(role: 'client'), class: "btn btn-primary" %></li>
            <li><%= link_to "SignUp For candidate", new_user_registration_path(role: 'candidate'), class: "btn btn-primary" %></li>
          <li><%= link_to "Sign In",  new_user_session_path, class: "btn btn-primary" %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.try(:first_name)%> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><%= current_user.email%></a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Go to Dashboard", users_dashboard_path%>
             
              <li role="separator" class="divider"></li>
              <li><%= link_to "Edit",  edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Logout",  destroy_user_session_path, method: :delete%></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<style type="text/css">
  nav form.navbar-form.navbar-left{float:left !important;}
  .header-form .form-control {
    border-radius: 0;
    height: 30px;
    padding: 4px 11px;
  }
  .navbar-form input[type="submit"]{
    background:#4286f5; 
    border:0px solid rgba(0,0,0,0); 
    color:#fff; 
    padding:5px 11px;
    border-radius: 0;
  }
</style>
